<!DOCTYPE html>
<html lang='pt-BR'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Adicionar professor</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Adicionar Professor</h1>

    <form action="/professor/salvar" method="POST">
        <label>Nome</label>
        <input type="text" placeholder="Nome do Professor">
        <br> <br>
        <label>E-Mail</label>
        <input type="email" placeholder="E-mail do Professor">
        <br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
